<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="display-1 text-center">Agenda</h1>
            <p class="text-center lead">Seus contatos estao abaixo</p>

            <div class="row">
                <div class="col MY-3">
                    <div class="alert alert-danger">Erro</div>
                </div>
            </div>      
        </div>

        <div class="responsive-table">
            <table class="table">
                <tr>
                    <td>Rodrigo</td>
                    <td>Nogueira</td>
                    <td>5561546064</td>
                    <td>rdg6@gmail.com</td>
                </tr>
                <tr>
                    <td>Rodrigo</td>
                    <td>Nogueira</td>
                    <td>5561546064</td>
                    <td>rdg6@gmail.com</td>
                </tr>
                <tr>
                    <td>Rodrigo</td>
                    <td>Nogueira</td>
                    <td>5561546064</td>
                    <td>rdg6@gmail.com</td>
                </tr>
            </table>
        </div>
        
        <div class="col-lg-2"></div>
    </div>
</div>     

<%- include('includes/footer') %>
